attrs==23.2.0
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
contourpy==1.2.1
cycler==0.12.1
fiona==1.9.6
fonttools==4.53.0
geopandas==0.14.4
idna==3.7
kiwisolver==1.4.5
markdown-it-py==3.0.0
matplotlib==3.9.0
mdurl==0.1.2
networkx==3.3
numpy==1.26.4
osmnx==1.9.3
packaging==24.0
pandas==2.2.2
pillow==10.3.0
Pygments==2.18.0
pyparsing==3.1.2
pyproj==3.6.1
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
rich==13.7.1
shapely==2.0.4
shellingham==1.5.4
six==1.16.0
typer==0.12.3
typing_extensions==4.12.1
tzdata==2024.1
urllib3==2.2.1
